{# templates/test/test.html.twig #}
<p> Testing service: {{testVar}}</p>
<div class="testForm">
    <form action="index.php" method="post">
        Product: <input type="text" name="name"><br>
        <hr>
        Price: <input type="text" name="price"><br><hr>
        Description: <input type="text" name="description"><br><hr>
        <input type="submit">
    </form>
</div>

<style>
    .testForm{
        font-family: Arial;
        margin: 20px;
        padding: 20px;

    }
</style>